 * {
    margin: 0 auto;
    padding: 0;
    max-width: 1000px;
    --primary-color: darkblue;
    --secondary-color: red;
    font-family: sans-serif, 'Roboto';
}
 
 @media screen and (min-width: 769px) {

main {
    position: relative;
}

h1 {
    color: #fff;
    background-color: var(--primary-color);
    padding: 1.5rem;
    text-align: center;
}

picture img {
    padding-top: 1rem;
    background-color: var(--secondary-color);
    width: 100%;
    display: block;
}

.data {
    position: absolute;
    top: 2rem;
    left: 1rem;
    background-color: rgba(250, 235, 215, 0.5);
    font-weight: bold;
}

.other {
    position: absolute;
    bottom: 2rem;
    right: 1rem;
    background-color: rgba(250, 235, 215, 0.5);
    font-weight: bold;
}

h2 {
    background-color: var(--secondary-color);
    padding: 0.5rem;

}

table {
      width: 50%;
      border-collapse: collapse;
    }
    th, td {
      border: none;
      padding: 0.4rem;
    }
    td {
        text-align: left;
    }

.left {
    font-weight: bold;
    text-align: right;
}

footer {
  background: var(--primary-color);
  padding: 1rem;
  text-align: center;
  color: #fff;
}

 }