* {
    margin: 0 auto;
    padding: 0;
    font-family: sans-serif, 'Roboto';
}

:root {
    --primary-color: darkblue;
    --secondary-color: red;
    --background-color: #fff;
}

@media screen and (max-width: 768px) {

h1 {
    color: #fff;
    background-color: var(--primary-color);
    padding: 1.5rem;
    text-align: center;
}

picture img {
    padding-top: 1rem;
    background-color: var(--secondary-color);
    width: 100%;
    display: block;
}

.data, .other {
    background-color: var(--background-color);
    border-bottom: 1px solid lightgrey;
}

h2 {
    background-color: var(--background-color);
    text-align: center;
    padding: 1rem;
}

table {
      width: 50%;
      border-collapse: collapse;
    }
    th, td {
      border: none;
      padding: 0.4rem;
      background-color: var(--background-color);
    }
    td {
        text-align: left;
    }

.left {
    font-weight: bold;
    text-align: right;
}

.data img, .other img {
    display: block;
    margin: 0 auto;
    justify-content: center;
    background-color: var(--background-color);
    padding-bottom: 1rem;
}

footer {
  background: var(--primary-color);
  padding: 1rem;
  text-align: center;
  color: #fff;
}

}